/* 
    Created on : 2014-okt-09, 09:29:42
    Author     : victor_nordh
*/

root { 
    display: block;
}
head {

}

body{
    text-align: center;
    margin:2% 15%;
}

#header {
    background-image:  url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: left;
    border-radius:10px;
    box-shadow: 8px 8px 5px gainsboro;
    width: 100%;
    height: 100px;

}

#footer {
    float: left;
    bottom:10px;
    height:30px;
    width: 100%;   
}
