/* 
    Created on : 2014-okt-09, 09:29:42
    Author     : victor_nordh
*/

root { 
    display: block;
}
body{
    text-align: center;
    width: 800px;
    border:10px solid yellow;
}

.odd {
  background-color: lightgray
}
.even {
  background-color: white
}

head {
    background-image:  url(../resources/img/header.jpg);
    background-repeat: repeat;
    background-position: center;
    border-radius:100px;
    box-shadow: 8px 8px 5px gainsboro
}

footer {
    position:fixed;
    bottom:10px;
    height:30px;
    width: 50em;
}
